body {
    display: flex;
    align-items: center;
}

div {
    float: left;
    height: 200px;
    width: 300px;
    /* display: flex; */
    padding: 15px;
    /* align-items: center; */
}

#todoList {
    background-color: cornflowerblue;
}

#buttonList {
    background-color: coral;
}

button {
    margin: 1px;
    width: 170px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}


input:not(:checked)+label {
    font-weight: 700;
}

input:checked+label {
    text-decoration: line-through;
}

li {
    list-style-type: none;
    border: 2px hidden dimgray;
    border-radius: 5px;
    transition: 0.1s;
    /* cursor: pointer; */
}

li.elemselected {
    border: solid;
    /* border-color: black; */
    transition: 0.1s;
}