div {
    float: left;
    height: 200px;
    width: 200px;
    overflow: auto;
    padding: 15px;
}

#todoList {
    background-color: cornflowerblue;
}

#buttonList {
    background-color: coral;
}

button {
    margin: 1px;
    width: 170px;
    /* display:inline-block; */
    /* background-color: #4CAF50; */
    /* border: 1px solid green; */
    /* color: white; */
    /* padding: 10px 24px; */
    cursor: pointer;
}

input:not(:checked)+label {
    font-weight: 700;
}

input:checked+label {
    text-decoration: line-through;
}